<li>	
	{{burger.burger_name}}

	<form action="/api/burgers/{{burger.id}}" method="POST">
		<input type="hidden" name="_method" value="PUT">
		<input type="hidden" name="devoured" value={{burger.devoured}}>
		<button class="btn btn-dark" type="submit" data-id="{{burger.id}}" data-newDevoured="{{devoured}}">
			{{#if burger.devoured}}Regurgitate{{else}}Devour{{/if}}
		</button>
	</form>
	
</li>
